<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tushar.notATicTacToe" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuScreen.GameMenuActivity"
            android:label="@string/title_activity_game_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameScreen.MainGameActivity"
            android:label="@string/title_activity_main_game"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".WiFiService.WiFiPlayService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MenuScreen.GameSubMenuActivity"
            android:label="@string/title_activity_game_sub_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WiFiService.WiFiDeviceListActivity"
            android:label="@string/title_activity_wi_fi_device_list"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".WiFiService.WiFiBroadCastReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <activity
            android:name=".WiFiService.WiFiMainGameActivity"
            android:label="@string/title_activity_wi_fi_main_game" >
        </activity>
    </application>

</manifest>
